.main-div{
    max-width: 875px;
    margin: 0 auto;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is the btn-main style  -------------------------------------------*/
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    
    
    
}


/* this background one color */

.bg-one{
    background-color: #FFF8F3;
}

.dark01{
 color: #474747;
}

/* this are header menu style css */

.header-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px ;
}

.header-menu ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.header-menu ul li{
    list-style: none;
    
}

.header-menu ul li a{
    text-decoration: none;

}

.header-menu h1 span{
    color: #FD6E0A;
}